@import 'normalize';
@import 'base';

$yellow: #F5D76E;

html,
body {
  height: 100%;
  weight: 100%;
}

body {
  background: $yellow;
  color: $black;
  display: flex;
  flex-direction: column;
  font-family: 'roboto', sans-serif;
  height: 100vh;
  padding: 1em;
  text-align: center;
}

main {
  flex: 1;
  position: relative;

  h1,
  h2 {
    font-weight: normal;
  }

  h2 {
    font-size: 30vmax;
    line-height: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.abril {
  font-family: 'abril fatface', serif;
}

footer {

}
